# node
node_modules
package-lock.json
yarn.lock

# test
test/**/Dockerfile
test/**/.dockerignore
test/**/DockerHelp.md

test/mysql/**
!test/mysql/README.md
test/traefik/**
!test/traefik/README.md


## legacy
test/**/README_DOCKER.md
